<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
    <div th:fragment="main">    <!-- блок, который можно будет включить в другую html-страницу -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>   <!-- Отступ слева -->
                <!-- Лейбл -->
                <div class="col-1">

                </div>
                <div class="col-3"></div>   <!-- Отступ между лейблом и языками -->
                <!-- Языки -->
                <div class="col-2">

                </div>
                <!-- Поиск -->
                <div class="col-2">

                </div>
                <!-- Текущий пользователь -->
                <div class="col-2">

                </div>
                <!-- Выход -->
                <div class="col-1">

                </div>
            </div>
        </div>

    </div>
</body>
</html>