<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top</title>
</head>
<body>
    <div th:fragment="main">    <!-- блок, который можно будет включить в другую html-страницу -->

        <div class="container-fluid topContainer">
            <div class="row capHorizontalSpace"></div>  <!-- Отступ сверху от топовых книг -->
            <div class="row capPlace">
                <div class="col-2"></div>   <!-- Отступ слева от топовых книг -->
                <div class="col-8">
                    <div class="container-fluid topBookContainer">

                        <!-- Топовые книги -->
                        <div class="row booksTopRow">

                        </div>

                        <!-- Полка -->
                        <div class="row rowImg">
                            <img src="images/row-product-bot.png">
                        </div>

                    </div>
                </div>
                <div class="col-2"></div>   <!-- Отступ справа от топовых книг -->
            </div>
        </div>

    </div>
</body>
</html>